<div class="card">
 
    <br />
    <div class="card-body">
        <form [formGroup]="angForm" novalidate>
            <div *ngIf="campaigns == null"  id="containerFinancedValue">
                <div class="form-group">
                    <label for="FinancedValueId">Valor a financiar</label>
                    <input currencyMask [options]="{ prefix: '€ ', thousands: '.', decimal: ',' }" size="30"
                        id="FinancedValueId" type="text" class="form-control" formControlName="FinancedValue"
                        #FinancedValue />
                    <small id="FinancedValueSmall" class="form-text text-muted">Não inclua o valor de entrada
                        inicial.</small>
                        <br />
                    <div class="form-group">
                        <button style="background: #1AAEB7;" (click)="financedValue(FinancedValue.value);" type="submit"
                            class="btn btn-primary" [disabled]="angForm.pristine || angForm.invalid">
                            Seguinte
                        </button>
                    </div>
                </div>
                <div *ngIf="angForm.controls['FinancedValue'].invalid && (angForm.controls['FinancedValue'].dirty || angForm.controls['FinancedValue'].touched)"
                    class="alert alert-danger">
                    <div *ngIf="angForm.controls['FinancedValue'].errors.required">
                        Valor a financiar obrigatório.
                    </div>
                </div>
            </div>
          
            <div *ngIf="campaignsShow" id="containerFinancedCampaign">
                <div class="form-group">
                    <label for="FinancedCampaignId">Capanha de Crédito</label>
                    <div class="card" style="width: 18rem;">
                        <ul class="list-group list-group-flush">
                            <li *ngFor="let object of campaigns" class="list-group-item">
                                <label>
                                    <input type="radio" name="orders" [value]="object.id" (change)="onRadioItemChange($event)" />
                                    {{object.value}}
                                    <!-- input type="radio" class="with-gap" [(ngModel)]="rdChecked" [value]="1" -->
                                </label>
                            </li>
                        </ul>
                    </div>
                    <br />
                    <div class="form-group">
                        <button style="background: #1AAEB7;" (click)="campaignChecked();" type="submit"
                            class="btn btn-primary" [disabled]="angForm.pristine || angForm.invalid">
                            Seguinte
                        </button>
                    </div>
                </div>
                <div *ngIf="angForm.controls['FinancedValue'].invalid && (angForm.controls['FinancedValue'].dirty || angForm.controls['FinancedValue'].touched)"
                    class="alert alert-danger">
                    <div *ngIf="angForm.controls['FinancedValue'].errors.required">
                        Valor a financiar obrigatório.
                    </div>
                </div>
            </div>

            <div *ngIf="campaignsDeadLineShow" id="containerFinancedCampaign">
                <div class="form-group">

                    <div class="container">
                        <div class="row">
                          <div class="col">Prazo</div>
                          <div class="col">Mensalidaed</div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                          <div class="col">(Meses))</div>
                          <div class="col">(Euros por Mês)</div>
                        </div>
                    </div>

                    <div class="list-group">
                        
                        <button (click)="setConsolidate(campaignDeadLine.period);" *ngFor="let campaignDeadLine of campaignDeadLines" class="list-group-item list-group-item-action" type="button">
                            <div class="container">
                                <div class="row">
                                  <div class="col">{{campaignDeadLine.period}}</div>
                                  <div class="col">{{campaignDeadLine.monthlyidaed}}</div>
                                </div>
                            </div>
                        </button>
                      </div>
                </div>
           
                <div class="form-group">
                    <button style="background: #1AAEB7;" (click)="consolidateFinanced();" type="submit"
                        class="btn btn-primary" [disabled]="angForm.pristine || angForm.invalid">
                        Seguinte
                    </button>
                </div>
            </div>
            

        </form>
    </div>
</div>